if status is-interactive
    if set -q SSH_CONNECTION
        if not set -q TMUX
            if not set -q SSH_ORIGINAL_COMMAND
                if command -q tmux
                    exec tmux new-session -A -s "{{ .shell.tmux.ssh_session_name }}"
                end
            end
        end
    end
end
