if dotfiles_have fzf; then
  export FZF_PREVIEW_SCRIPT="$HOME/.local/bin/fzf-preview"
  fzf_find_command=""

  fzf_help="$(fzf --help 2>/dev/null || true)"
  fzf_color='--color=fg:-1,fg+:#d0d0d0,bg:-1,bg+:#262626,hl:#5f87af,hl+:#5fd7ff,info:#afaf87,marker:#87ff00,prompt:#00d7ff,spinner:#af5fff,pointer:#af5fff,header:#87afaf,border:#262626,query:#d9d9d9'
  fzf_layout='--prompt="> " --marker="*" --pointer=">"'

  case "$fzf_help" in
    *--border\[*)
      fzf_layout="$fzf_layout --border=rounded"
      ;;
    *--border*)
      fzf_layout="$fzf_layout --border"
      ;;
  esac

  case "$fzf_help" in
    *--separator*)
      fzf_layout="$fzf_layout --separator=-"
      ;;
  esac

  case "$fzf_help" in
    *--scrollbar*)
      fzf_layout="$fzf_layout --scrollbar=|"
      ;;
  esac

  case "$fzf_help" in
    *--info=*)
      fzf_layout="$fzf_layout --info=right"
      ;;
  esac

  case "$fzf_help" in
    *--height=*)
      fzf_layout="$fzf_layout --height=100%"
      ;;
  esac

  case "$fzf_help" in
    *border-rounded*)
      fzf_layout="$fzf_layout --preview-window=right:50%:border-rounded"
      ;;
    *--preview-window*)
      fzf_layout="$fzf_layout --preview-window=right:50%"
      ;;
  esac

  export FZF_DEFAULT_OPTS="$fzf_color $fzf_layout --ansi --preview '$FZF_PREVIEW_SCRIPT {}'"

  if dotfiles_have fd; then
    fzf_find_command='fd'
  elif dotfiles_have fdfind; then
    fzf_find_command='fdfind'
  fi

  if [ -n "$fzf_find_command" ]; then
    export FZF_DEFAULT_COMMAND="$fzf_find_command --hidden --follow --exclude .git --exclude node_modules --exclude venv --exclude .venv"
  else
    export FZF_DEFAULT_COMMAND='find . -path "*/.git" -prune -o -path "*/node_modules" -prune -o -print'
  fi
fi
